.logarea {
    height: 60vh;
	overflow: auto
}


.gameChat {
	height: 30vh;
	overflow: auto
}

.lobbychat {
	height: 30vh;
	overflow: auto
}

.tables {
	height: 40vh;
	overflow: auto
}
.greedicon{
	height: 1em;
}

/* necessary for tooltips on disabled buttons in Chrome */
.buttonwrapper {
	display: inline-block;
}

.buttonwrapper [disabled] {
  pointer-events: none;
}
/* end of necessary for tooltips on disabled buttons in Chrome*/

.tooltip-inner {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
}
.btn.disabled {
    pointer-events: auto;
}	

.red {
	background-color: red;
}

.green {
	background-color: green;
}
